.login_container {
  width: 100vw;
  height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_title,
.account_confirmation_title,
.account_confirmation_subtitle {
  font-weight: bold;
  color: #434343;
}

.login_form_container {
  margin: 2rem;
  padding: 3rem;
  background-color: #ffffff;
  width: 30rem;
  height: 25rem;
  border-radius: 5%;
}

.register_form_container {
  margin: 2rem;
  padding: 3rem;
  background-color: #ffffff;
  width: 30rem;
  height: 25rem;
  border-radius: 5%;
}

.sso_button {
  margin: 0.5rem !important;
}

.account_confirmation_form_container {
  margin: 2rem;
  padding: 3rem;
  background-color: #ffffff;
  width: 45rem;
  height: 30rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
