.appbar_container {
  flex-grow: 1;
}

.appbar {
  background: none !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.appbar_buttons {
  text-transform: none !important;
  color: #2e2e2e !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
